<table> 
	<tr> 
		<th>Name</th> 
		<th>Company</th> 
	</tr> 

<% for lead in @leads %> 
	<tr> 
	<td><%=h lead.first_name %></td> 
	<td><%=h lead.company %></td> 
	<td><%= link_to 'Show', :action => 'show', :id => lead %></td> 
	<td><%= link_to 'Edit', :action => 'edit', :id => lead %></td> 
	<td><%= link_to 'Destroy', { :action => 'destroy', :id => lead }, 
	:confirm => 'Are you sure?', :method => :post %></td> 
	</tr> 
<% end %> 

</table> 
