<p>
  <b>First name:</b>
  <%=h @lead.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%=h @lead.last_name %>
</p>

<p>
  <b>Email:</b>
  <%=h @lead.email %>
</p>

<p>
  <b>Company:</b>
  <%=h @lead.company %>
</p>

<p>
  <b>Title:</b>
  <%=h @lead.title %>
</p>

<p>
  <b>Cell:</b>
  <%=h @lead.cell %>
</p>

<p>
  <b>Office phone:</b>
  <%=h @lead.office_phone %>
</p>

<p>
  <b>Website:</b>
  <%=h @lead.website %>
</p>

<p>
  <b>Source:</b>
  <%=h @lead.source %>
</p>


<%= link_to 'Edit', edit_lead_path(@lead) %> |
<%= link_to 'Back', leads_path %>
