<p>
  <b>Command:</b>
  <%=h @command.command %>
</p>

<p>
  <b>Additional data:</b>
  <%=h @command.additional_data %>
</p>

<p>
  <b>Call:</b>
  <%=h @command.call_id %>
</p>


<%= link_to 'Edit', edit_command_path(@command) %> |
<%= link_to 'Back', commands_path %>
