<h1>Editing call</h1>

<%= error_messages_for :call %>

<% form_for(@call) do |f| %>
  <p>
    <b>User</b><br />
    <%= f.text_field :user %>
  </p>

  <p>
    <b>Bs</b><br />
    <%= f.text_field :bs_id %>
  </p>

  <p>
    <b>Useruid</b><br />
    <%= f.text_field :userUid %>
  </p>

  <p>
    <b>Callid</b><br />
    <%= f.text_field :callid %>
  </p>

  <p>
    <b>Exttrackingid</b><br />
    <%= f.text_field :extTrackingid %>
  </p>

  <p>
    <b>Callcenteruserid</b><br />
    <%= f.text_field :callCenterUserId %>
  </p>

  <p>
    <b>State</b><br />
    <%= f.text_field :state %>
  </p>

  <p>
    <b>Appearance</b><br />
    <%= f.text_field :appearance %>
  </p>

  <p>
    <b>Personality</b><br />
    <%= f.text_field :personality %>
  </p>

  <p>
    <b>Calltype</b><br />
    <%= f.text_field :calltype %>
  </p>

  <p>
    <b>Release cause</b><br />
    <%= f.text_field :release_cause %>
  </p>

  <p>
    <b>Remote country code</b><br />
    <%= f.check_box :remote_country_code %>
  </p>

  <p>
    <b>Remote number</b><br />
    <%= f.text_field :remote_number %>
  </p>

  <p>
    <b>Remote name</b><br />
    <%= f.text_field :remote_name %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @call %> |
<%= link_to 'Back', calls_path %>
